.fundo {
    background-color: #ffd280;
}

.content {
  text-align: center;
    width: 100%;
    padding: 5px 0;
    background-color: #fee6bc;
}



.rodape p {
    color: black;
}


.copy {
  
    width: 100%;
    padding: 5px 0;
    background-color: #ffd280;


}

.copy p {
    text-align: center;

    font-size: 14px;
    font-weight: bold;
}


.fixar {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 9999;
}
